/* Reset Defaults */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* colors */
  --color-primary: #fdfefc;
  --color-secondary: #ff3122;
  --color-secondary2: #02abf7;
  --color-secondary3: #fcbd1c;
  --color-dark: #0c0b0c;

  /* font-size*/
  --text-base: 1rem;
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.875rem;
  --text-sxl: 2.25rem;
  --text-sxl2: 3.25rem;

  /* spacing */
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 2rem;
  --space-xl: 4rem;

  /* border */
  --dark-border: 5px solid #0c0b0c;
  --light-border: 5px solid #fdfefc;

  /* border-radius */
  --rounded-xs: 8px;
  --rounded-sm: 18px;
  --rounded-base: 25px;
  --pill: 999px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: Arial, Helvetica, sans-serif;

  padding-top: var(--spacing-lg);

}

/* Nav Bar styling */

header {
  /* height: 2.5rem;
  width: 100%; */
  margin-bottom: var(--spacing-base);
  
  
}

.nav-bar {
  background-color: var(--color-primary);
  height: 2.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;

  font-weight: 600;
  font-size: var(--text-base);
  padding: var(--spacing-sm) 0;
  

}

#menu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin: var(--spacing-sm) 0;

  height: 100px;
  width: 30%;
  /* padding: var(--spacing-base); */
  background-color: var(--color-primary);
  
  border-radius: 0 0 10px 0;
  
  list-style: none;
  transform: translateY(-140px);
  /* top: -2.5rem; */
  transition: all 0.3s ease-in-out;
}

#menu li {
  padding: var(--spacing-sm);
  text-align: center;
}

#menu li:first-of-type {
  margin-top: var(--spacing-sm);
}

.nav-bar a {
  color: var(--color-secondary);
  text-decoration: none;
}

/* Hamburger styling */
#menu-toggle {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
  position: relative;
  margin-left: var(--spacing-base);
  z-index: 5;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

/* hamburger animation */
#menu-toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 8px;
}

#menu-toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -9px;
}

#menu-toggle:checked + .hamburger .bottom-bun {
  transform: rotate(45deg);
  opacity: 0;
}

#menu-toggle:checked + .hamburger + #menu {
  top: 2.5rem;
  transform: scale(1) translateY(0);
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}

h1 {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: var(--text-sxl);
  font-weight: 800;

  margin-bottom: var(--spacing-base);
}


/* Card container */
.card-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base);
  align-items: center;

}

/* card styling */
.recipe-card  {
  background-color: var(--color-primary);
  color: var(--color-dark);
  width: 320px;
  height: 440px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
  border-radius: var(--rounded-base);

  transition: box-shadow 0.3s ease-in-out;
}

.recipe-card:hover {
  box-shadow: 0 0 10px var(--color-secondary3);
}

.card-img {
  object-fit: cover;
  border-radius: var(--rounded-sm) var(--rounded-sm) var(--rounded-xs) var(--rounded-xs) ;
  flex: 3;
}

.card-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: 0 var(--spacing-sm) var(--spacing-sm) var(--spacing-sm);
}

.card-details h2 {
  font-size: var(--text-lg);
  /* color: var(--color-secondary); */
}

.extra-details {
  display: flex;
  /* justify-content: space-between; */
  gap: var(--spacing-base);
  margin-bottom: var(--spacing-sm);
  font-size: var(--text-sm);
  
}


.bar {
  width: 1px;
  height: 15px;
  border-radius: var(--rounded-base);
  background-color: var(--color-dark);
}

.btn {
  align-self: flex-end;
  text-decoration: none;
  font-size: var(--text-sm);
  font-weight: 600;

  background: var(--color-secondary2);
  color: var(--color-primary);
  padding-inline: var(--spacing-sm);
  padding-block: 5px;
  border-radius: var(--pill);

  transition: color 0.3s ease-in-out background 0.3s ease-in-out ;
}

.btn:hover {
  background: var(--color-secondary3);
  color: var(--color-secondary);
}

/* responsive styling */

/* tablets */
@media (min-width: 600px) {
  #menu {
    width: 20%;
  }

  h1 {
    font-size: var(--text-sxl2);
  }
}

/* desktop */
@media (min-width: 1024px) {
  #menu {
    width: 15%;
  }
}